<section class="list">
  <ng-container *ngFor="let item of items; index as i">
    <article class="list__item">
      <a class="item" [routerLink]="['/detalle', item.id]">
        <img class="item__image" src="https://picsum.photos/400/300">
        <div class="item__content">
          <p class="item__heading">#{{ item.id }}</p>
          <p class="item__subheading">{{ item.person }}</p>
          <p class="item__text">{{ item.location }}</p>
        </div>
      </a>
    </article>
  </ng-container>
</section>
