@import "variables";

:host {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 0 1rem;
	background-color: var(--primary-color);
	// border-bottom: 2px solid var(--primary-darken-color);
	position: fixed;
	z-index: 1;
}

a {
	color: $white-color;
	text-decoration: none;
	transition: all 250ms;
}

.nav {
	margin-left: auto;

	&__list {
		display: flex;
	}

	&__item {
		padding: 0 0.5rem;

		&__link {
			display: flex;
			align-items: center;
			padding: 1.25rem 0.5rem;
			font-size: 1.125rem;
			border-radius: 0.25rem;
			position: relative;
			color: rgba($white-color, 0.7);

			&::before {
				content: "";
				display: block;
				width: 100%;
				height: 0.25rem;
				background-color: transparent;
				position: absolute;
				bottom: 0;
				left: 0;
				transition: all 250ms;
			}

			&:hover {
				// color: rgba($white-color, 0.7);

				&::before {
					background-color: rgba($white-color, 0.7);
				}
			}

			// STATES
			&.is-active {
				color: $white-color;

				&::before {
					background-color: $white-color;
				}
			}
		}

		&__icon {
			width: 1.5rem;
			height: 1.5rem;
			margin-right: 0.5rem;
		}
	}
}
