<a routerLink="/">
  #búhos
</a>

<nav class="nav">
  <ul class="nav__list">
    <li *ngFor="let menuItem of menu; index as i" class="nav__item">
      <a
        [routerLink]="menuItem.link"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav__item__link"
        >
        <svg class="nav__item__icon">
          <use [attr.xlink:href]="addIconFromSprite(menuItem.icon)" />
        </svg>
        <span>{{ menuItem.text }}</span></a
      >
    </li>
  </ul>
</nav>
