<form class="form" [formGroup]="searchForm" novalidate>
  <h2 class="form__heading">¿Qué quieres <strong>encontrar</strong>?</h2>
  <section class="form__content">
    <select name="filter" class="form__filters" id="filter" formControlName="filter">
      <option value="id">Número de la colección</option>
      <option value="person">Persona</option>
      <option value="category">Categoría</option>
      <option value="date">Año</option>
      <option value="location">Ubicación</option>
      <option value="comment">Comentario</option>
    </select>
    <!-- <section class="filters">
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="id" value="id">
        <label for="id">Número de la colección</label>
      </div>
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="person" value="person">
        <label for="person">Persona</label>
      </div>
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="category" value="category">
        <label for="category">Categoría</label>
      </div>
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="date" value="date">
        <label for="date">Año</label>
      </div>
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="location" value="location">
        <label for="location">Ubicación</label>
      </div>
      <div class="filter">
        <input type="radio" name="filter" formControlName="filter" id="comment" value="comment">
        <label for="comment">Comentario</label>
      </div>
    </section> -->
    <div class="form-field">
      <input formControlName="queryField" type="search" #input>
    </div>
  </section>
</form>
