@import 'variables';

:host {
  display: block;
  height: 20rem;
  margin-bottom: 2rem;
  background-color: #e7e7e7;
}

.form {
	margin-bottom: 2rem;
}

.filters {
	display: flex;
}

.filter {
	& + & {
		margin-left: 1rem;
	}

	label {
		font-size: 0.875rem;
	}
}

.list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(15rem, calc(50% - 0.5rem)));

	@media (min-width: $tablet) {
		grid-template-columns: repeat(auto-fill, 15rem);
	}
}
