@import 'variables';

@mixin button($color: $white-color, $bgcolor: var(--primary-color)) {
  display: inline-block;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  color: $color;
  border: 0;
  border-radius: 1.5rem;
  background-color: $bgcolor;
  transition: background-color 250ms;
  cursor: pointer;

  &[disabled] {
    opacity: 0.5;
  }

  &:hover:not([disabled]) {
    background-color: var(--brown-200);
  }
}

.btn {
  @include button($white-color, var(--brown-100));
}
