:root {
	--primary-color: #f8d5e4;
	// --primary-color: #ec4d7b;
	--primary-lighten-color: rgb(241, 102, 142);
	--primary-darken-color: rgb(177, 60, 93);
	--secondary-color: #303030;
	--secondary-lighten-color: rgb(78, 78, 78);
  --secondary-darken-color: rgb(44, 44, 42);

  --background-color: #F3F2F2;
  --blue-100: #E5E8EB;
  --blue-200: #728FA7;
  --grey-100: #9EA0A5;
  --brown-100: #635954;
  --brown-200: #79665c;
  --brown-300: #3E3F42;
}
