:root {
	--primary-color: #ec4d7b;
	--primary-lighten-color: rgb(241, 102, 142);
	--primary-darken-color: rgb(177, 60, 93);
	--secondary-color: #303030;
	--secondary-lighten-color: rgb(78, 78, 78);
	--secondary-darken-color: rgb(18, 18, 18);
}
