// FONTS
// -------------------
$ff-primary: "Inter", "Helvetica", "Arial", sans-serif;

// FONT WEIGHTS
// -------------------
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// COLOURS
// -------------------
$dev: #f06;

$primary-color: #004bb1;

$default-color: #a5a6aa;
$white-color: #ffffff;
$grey-color: #a8a8a8;
$black-color: #000000;

$light-color: #f5f6fa;
$dark-color: #303030;

$text-color: #5b6375;
$input-color: #f0f3fc;
$border-color: #e8f0f8;
$shadow-color: #e5e9f2;

$error-color: rgb(230, 11, 59);
$success-color: rgb(82, 216, 21);

// BREAKPOINTS
// -------------------
$mobile: 23.75em;
$tablet: 42.5em;
$desktop: 75em;
